*{
    margin:0;
    padding: 0;
    border: 0;
}


body{
    /* background-color: palegoldenrod;    */
    font-family: sans-serif; 
}
/* --------Header with logo and search bar------------- */

header{
    /* position: fixed; */
    background-color: white;
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    font-size: 87%;
    font-style: thin;
    position: fixed;  
    border: 0.09px solid rgb(188, 191, 194);
    z-index: 10;
    /* justify-content: space-around; */
  /* justify-content: space-between;
  align-items: center; */
  /* position: relative; */
  /* width: 100%;

  border: 10% solid gray;
  margin: auto; */
 
    /* display: flex;
    flex-wrap: nowrap;
    flex-direction: row;   
    justify-content: space-around; */
}


header img{
    height: 23.5px;
    order: 0;
   justify-self: flex-start;
   padding-left: 8px;
   letter-spacing: 0.5px;
   vertical-align: bottom;
   
}

header ul{
    list-style-type: none;
    /* background-color: brown; */
    display: flex;
    width: 100%;
    justify-content: space-around;
   }
#product{
    align-self: center;
    position: relative;
    right: 6.5rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    max-width: 100%;
    vertical-align: bottom;
    font-size: 0.875rem;
    line-height: 1.5;
}

#for{
    align-self: center;
    position: relative;
    right: 18rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    max-width: 100%;
    vertical-align: bottom;
    font-size: 0.875rem;
    line-height: 1.5;
}

#price{
    align-self: center;
    position: relative;
    right: 30rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    max-width: 100%;
    vertical-align: bottom;
    font-size: 0.875rem;
    line-height: 1.5;

}

#resourc{
    align-self: center;
    position: relative;
    right: 43rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    max-width: 100%;
    vertical-align: bottom;
    font-size: 0.875rem;
    line-height: 1.5;
}    

#bar{
    align-self: center;
    position: relative;
    left: 28rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    max-width: 100%;
    vertical-align: bottom;
    font-size: 0.875rem ;
    line-height: 1.5;

}

#log{
    align-self: center;
    position: relative;
    left: 15%;
    letter-spacing: 0.5px;
    font-weight: 500;
    max-width: 100%;
    vertical-align: bottom;
    font-size: 0.875rem;
    line-height: 1.5;

}


#create{
    display: flex;
    justify-self: flex-end;
    background-color: #ff424d;
    padding: 16px;
    width: 8rem;
    /* border: 6px double rgb(200, 159, 156); */
    position: relative;
    text-align: center;
    color: white;
    border-radius: 40px;
    position: relative;
    left: 5%;
    /* font-stretch: ultra-expanded; */
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 500;
    max-width: 100%;
    vertical-align: bottom;
    font-size: 0.875rem;
    line-height: 1.5;
    
}

.all{
    padding-top: 120px;
}

/* --------------landing section---------------- */

.landing h2{
  position: relative;
  left: 800px;
  font-size: 2.5rem;
  margin: auto;
  letter-spacing: 0.8px;
  font-weight: 80%;
  padding: 15px;
  line-height: 1.5;
  z-index: 0;
}

.landing button{
    /* display: flex;
    justify-self: center; */
    z-index: 0;
    background-color: #ff424d;
    padding: 16px;
    width: 8rem;
    position: relative;
    left: 1050px;
    text-align: center;
    color: white;
    border-radius: 40px;
    margin: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 500;
    max-width: 100%;
    vertical-align: center;
    font-size: 0.875rem;
    line-height: 1.5;

}


.landing ul{
  list-style: none;
  display: grid;
  /* grid-template-columns: repeat(6, 3fr); */
  /* grid-template-columns: 14.4% 14.4% 14.4% 14.4% 14.4% 14.4%;
  grid-template-rows: 18% 18% 18% 18% 18%; */
  justify-content: center;
  padding: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin-left: 2%;
  margin-right: 2%;

  

  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-right: 100px;
  height: 100px;
  justify-content: space-around; */
  /* color: rgb(104, 69, 81);
  background-color: rgb(171, 168, 178);  */
}

.landing ul li:hover { 
    transform: scale(0.95);
    transition: transform 0.5s; }

/* -----------------second section----------------- */

.who{
  padding-top: 160px;
  position: relative;
  left: 800px;
  font-size: 2.5rem;
  /* margin: auto; */
  letter-spacing: 0.8px;
  font-weight: 80%;
  /* padding: 15px; */
  line-height: 1.5;
  z-index: 0;
}


.second button{
    padding-top: 200px;
    z-index: 0;
    background-color: #ff424d;
    padding: 16px;
    width: 8rem;
    position: relative;
    left: 1050px;
    text-align: center;
    color: white;
    border-radius: 40px;
    margin: 40px;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 500;
    max-width: 100%;
    vertical-align: center;
    font-size: 0.875rem;
    line-height: 1.5;
}
.what{
    padding-top: 60px;
    position: relative;
    left: 1050px;
    font-size: 2.5rem;
    /* margin: auto; */
    letter-spacing: 0.8px;
    font-weight: 80%;
    /* padding: 15px; */
    line-height: 1.5;
    z-index: 0;
}
.second p{
    padding-top: 60px;
    position: relative;
    left: 70px;
    font-size: 1rem;
    /* margin: auto; */
    letter-spacing: 0.8px;
    font-weight: 80%;
    /* padding: 15px; */
    line-height: 1.5;
    text-align: center;
    z-index: 0;
}

.third h2{
    padding-top: 100px;
    position: relative;
    left: 70px;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.8px;
    font-weight: 80%;
    /* padding: 15px; */
    line-height: 1.5;
    z-index: 0;

}

.third p{
    padding-top: 60px;
    position: relative;
    /* left: 70px; */
    font-size: 1rem;
    /* margin: auto; */
    letter-spacing: 0.8px;
    font-weight: 80%;
    /* padding: 15px; */
    line-height: 1.5;
    text-align: center;
    z-index: 0;
}

.third ul{
  /* background-color: #ff424d; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: flex-start;
  position: relative;
  /* padding-right: 100px; */
  height: 20rem;
  justify-content: center;
  text-align: left;
  font-weight: bold;
  margin-top: 4rem;
  /* border: rgb(9, 9, 9) solid 3rem;
  border-radius: 4px; */
}

a { 
    color: inherit; 
} 


/* .highlights{
    background-color: #ff424d;
    margin: 20rem;
 display: flex;
 justify-content: center;


} */



footer{

  height: 650px;  
  background-color: rgb(18, 18, 20);
  margin-top: 150px;
  color: white;
  display: grid;
  grid-template-columns:12rem auto auto auto auto auto;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "a a a a a a"
  "h . c d e f"
  "g . c d e f"
  "g . . . . .";
  justify-content: center;
  padding: 3% 25% 0 25%;
}


footer img{
  width: 25px;
  grid-area: a;
  justify-content: grid end;
  align-items: center;
  padding: 0;
}

footer ul{
    list-style: none;  
}

.list-item-1{
    grid-area: h;
    margin-top: 3rem;
    /* list-style: none; */
    -webkit-font-smoothing: antialiased;
    /* background-color: #ff424d; */
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
}

.list-item-1 li{
    border: white solid 0.09rem;
    /* margin: 6px 27rem auto 0px; */
    padding: 10px 0PX 15PX 16PX;
    font-size: 16px;
    text-align: start;
    margin: 0.5rem;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
    -webkit-font-smoothing: antialiased;
    /* text-transform: unset; */
    border-radius: 4px;
}

/* .list-item-2{
  
    list-style: none;
    grid-area: b;
    background-color: #15b428;
    padding: 1em;
    font-size: smaller;
}

.list-item-2 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5rem;
    
} */
.container{
    font-size: 0.82rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 4rem 1rem 1rem 8rem;
    letter-spacing: 0.3px;
    line-height: 1.5rem;
    -webkit-font-smoothing: antialiased;
    /* padding: 2rem; */

}

.titles-of-lists{
 font-weight: bold;
 margin: 0rem 0rem 2rem 0rem;
 font-style: normal;
 font-size: 0.7rem;
}

.list-item-3{
    grid-area: c;
    /* list-style: none; */
    /* background-color: #5d4997; */
    padding: 0rem 4rem 10rem 1rem;
}


.list-item-4{
    grid-area: d;
    /* list-style: none; */
    /* background-color: #ccde7c; */
    padding: 0rem 0rem 1rem 1rem;
    width: 10rem;
}


.list-item-5{
    grid-area: e;
    /* list-style: none; */
    /* background-color: #b844ca; */
    padding: 0rem 0rem 1rem 1rem;
    width: 10rem;
}


.list-item-6{
    grid-area: f;
    /* list-style: none; */
    /* background-color: #22cdd0; */
    padding: 0rem 0rem 1rem 1rem;
}

.list-item-7{
    grid-area: g;
    font-style: normal;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
    -webkit-font-smoothing: antialiased;
    width: 15rem;
    margin: -1rem 0rem 1rem 0rem;
}

.list-item-7 ul{
    display: flex;
    flex-wrap: nowrap;
    gap: 1.6rem;
    margin: 0rem 0rem 1rem 0;
   }